<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Perfect Stack</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" type="image/png" href="image/perfect-32.png"/>

    <link rel="stylesheet" href="css/vendor/bootstrap/bootstrap-3.3.7.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script src="js/vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="js/vendor/bootstrap/bootstrap-3.3.7.min.js"></script>
</head>
<body>
<header class="green-back white">
    <h1>George's Space Page</h1>
    <nav>
        <div class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">home</a></li>
                <li class="active"><a href="#">space</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="content">
    <aside>
        <p>aside</p>
    </aside>

    <section>
        <article>
            <h2>Introduction</h2>

            <p>Vivamus eget vehicula elit. Vivamus vitae luctus mauris. Phasellus hendrerit lectus id faucibus lobortis.
                In feugiat urna ac nisl vestibulum molestie. In posuere accumsan odio facilisis consequat. Etiam
                vulputate laoreet urna nec blandit. Nunc euismod arcu eu tortor finibus maximus. In hac habitasse platea
                dictumst. Nunc vel est a orci pretium dignissim sit amet ut nulla. Mauris sed dictum risus. Vestibulum
                eu nisl viverra, viverra urna eget, commodo quam. Ut convallis turpis eget nunc consectetur, at placerat
                dui pretium. Praesent viverra dui ut pellentesque vestibulum.</p>

            <div class="image-container image-container-left">
                <a href="image/2016-10-22 11.11.57-1.jpg">
                <div class="image"><img src="image/2016-10-22 11.11.57-1 thumb.jpg"/></div>
                <div class="caption">Fall colors in Colonial Hills, Worthington, Ohio. Taken near Indianola and South
                    Selby Blvd. October 22, 2016.
                </div>
                    </a>
            </div>

            <p>Donec egestas, nunc sit amet auctor egestas, nibh elit ornare nibh, vel pharetra nunc ex a lorem. Nunc
                feugiat augue ut nibh viverra, a porta augue tempus. Nullam facilisis justo elit, pellentesque sagittis
                erat scelerisque quis. Nulla sed nisi eget erat vehicula mattis at ac diam. Curabitur a auctor est, at
                euismod orci. Sed ullamcorper mauris non ipsum auctor aliquet. Nunc ante tellus, tristique et lorem et,
                laoreet blandit justo.</p>

            <h2>Topic One</h2>

            <p>Vivamus eget vehicula elit. Vivamus vitae luctus mauris. Phasellus hendrerit lectus id faucibus lobortis.
                In feugiat urna ac nisl vestibulum molestie. In posuere accumsan odio facilisis consequat. Etiam
                vulputate laoreet urna nec blandit. Nunc euismod arcu eu tortor finibus maximus. In hac habitasse platea
                dictumst. Nunc vel est a orci pretium dignissim sit amet ut nulla. Mauris sed dictum risus. Vestibulum
                eu nisl viverra, viverra urna eget, commodo quam. Ut convallis turpis eget nunc consectetur, at placerat
                dui pretium. Praesent viverra dui ut pellentesque vestibulum.</p>

            <h3>Sub Topic One</h3>

            <p>Donec egestas, nunc sit amet auctor egestas, nibh elit ornare nibh, vel pharetra nunc ex a lorem. Nunc
                feugiat augue ut nibh viverra, a porta augue tempus. Nullam facilisis justo elit, pellentesque sagittis
                erat scelerisque quis. Nulla sed nisi eget erat vehicula mattis at ac diam. Curabitur a auctor est, at
                euismod orci. Sed ullamcorper mauris non ipsum auctor aliquet. Nunc ante tellus, tristique et lorem et,
                laoreet blandit justo.</p>

            <h3>Sub Topic Two</h3>

            <p>Vivamus eget vehicula elit. Vivamus vitae luctus mauris. Phasellus hendrerit lectus id faucibus lobortis.
                In feugiat urna ac nisl vestibulum molestie. In posuere accumsan odio facilisis consequat. Etiam
                vulputate laoreet urna nec blandit. Nunc euismod arcu eu tortor finibus maximus. In hac habitasse platea
                dictumst. Nunc vel est a orci pretium dignissim sit amet ut nulla. Mauris sed dictum risus. Vestibulum
                eu nisl viverra, viverra urna eget, commodo quam. Ut convallis turpis eget nunc consectetur, at placerat
                dui pretium. Praesent viverra dui ut pellentesque vestibulum.</p>

            <p>Donec egestas, nunc sit amet auctor egestas, nibh elit ornare nibh, vel pharetra nunc ex a lorem. Nunc
                feugiat augue ut nibh viverra, a porta augue tempus. Nullam facilisis justo elit, pellentesque sagittis
                erat scelerisque quis. Nulla sed nisi eget erat vehicula mattis at ac diam. Curabitur a auctor est, at
                euismod orci. Sed ullamcorper mauris non ipsum auctor aliquet. Nunc ante tellus, tristique et lorem et,
                laoreet blandit justo.</p>
        </article>
    </section>
</div>
<footer>
    <p>footer</p>
</footer>


<script src="js/script.js"></script>
</body>
</html>